.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #2a363b;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 25px;
  font-weight: 700;
  color: #2a363b;
}
.activeLink {
  color: #e84a5f;
}
